!!!
html
	head
		link(href="/purty.css", rel="stylesheet")
		link(href="/purtier.css", rel="stylesheet")

	body
		img(src="https://a248.e.akamai.net/camo.github.com/e19e230a9371a44a2eeb484b83ff4fcf8c824cf7/687474703a2f2f737562737461636b2e6e65742f696d616765732f62726f777365726966795f6c6f676f2e706e67")

		div.well.page-header
			h1 dots

			hr

			div.dots-please

		center
			span(class="label label-important") Important
			img(src="http://divshot.github.io/geo-bootstrap/img/test/mchammer.gif")
			img(src="http://divshot.github.io/geo-bootstrap/img/test/mchammer.gif")
			img(src="http://divshot.github.io/geo-bootstrap/img/test/mchammer.gif")
			span(class="label label-success") Success

		div.well.page-header
			h1 urls

			hr

			div.url-parser

		div.shout-out


		script(src="/dyn/bundle/pages/home.js")
